* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

/* Float and position */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}
/* End Float and position */

/* Width */
.width-10{
    width: 10%;
}

.width-25 {
    width: 25%;
}
.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70{
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

.max-width {
    max-width: 100%;
}
/* End Width */

/* Font Size */
.font-small {
    font-size: small;
}
/* End Font Size */

/* Header */
.menu-header {
    font-size: x-small;
    font-weight: bold;
    position: fixed;
    top: 0;
    background-color: white;
    height: 5em;
}

.nav-menu-header {
    list-style-type: none;
    line-height: 2em;
    margin-left: 2em;
}

.nav-menu-header li {
    display: inline-block;
    margin-right: 3em;
}

.nav-menu-header li a {
    text-decoration: none;
    color: black;
}

#btn {
    padding: 0.5em 1em;
    background-color: #0061ff;
    color: white;
}

.menu-header .menu-logo {
    line-height: 5.7em;
}

.nav-menu-header {
    line-height: 5em;
}
/* End Header */

/* Jumbo */
.container-jumbo {
    height: 28em;
    margin: 5em auto 0;
    background-color: #b4d0e7;
}

.jumbo {
    margin: 0 auto;
    height: 80vh;
}

.title {
    font-size: 1.5em;
    padding: 1em 0 0.5em;
}

.jumbo-paragraph {
    padding-bottom: 2em;
    font-size: 0.9em;
}

.jumbo-btn {
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
}

.cancel-jumbo,
.fa-arrow-down {
    padding-top: 2em;
}
/* End Jumbo */

/* Main header */
.main-header-section {
    margin: 0 auto;
}

.main-header-section .main-header{
    margin-top: 10em;
}

.subscription-title {
    margin-bottom: 3em;
}

.main-header span .checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 0.4em;
}

.main-header span .checkbox:hover {
    border: 3px solid;
    border-color: blue;
    cursor: pointer;
}
/* End Main header */

/* Subscription columns */
.container-sub {
    margin-top: 3em;
}

[class^="col-sub"] {
    height: 57em;
    border: 1px solid gray;
}

.col-sub-dx {
    margin-left: 0.5em;
}

.col-sub-mid {
    margin: 0 2.4em;
}

.col-sub-header,
.enterprise {
    text-align: center;
    line-height: 2em;
}

.col-sub-header h4,
.enterprise h4 {
    border-bottom: 1px solid gray;
    color: gray;
    font-weight: lighter;
}

.col-sub-header .col-prices {
    text-align: left;
    padding: 1em;
}

.subtitle-price {
    font-size: small;
    color: gray;
}

.col-price-pro .col-price-pro-ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: small;
}

.col-price-pro .col-price-pro-ul li,
.col-price-highlights-ul li,
.col-prices h3,
.col-prices p {
    padding-left: 0.5em;
}

.col-price-btn {
    margin-top: 3em;
    margin-left: 0.9em;
    padding: 0.5em 1.5em;
}

.buy-now {
    margin-left: 0.5em;
    margin-top: 3em;
}

.col-sub-header .buy-now::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: gray;
    margin: 2em 0;
    display: block;
}

.col-price-highlights-ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0.5em;
    font-size: small;
}

.col-price-highlights-ul li::before {
    content: "✔";
    color: blue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    padding-top: 1em;
}


/* End Subscription Columns */

/* Enterprise */
/* ATTENTION: for the h4 inside the div.enterprise, I used the same rule as .col-sub-header h4 and .col-sub-header */
.enterprise{
    border: 1px solid gray;
    margin: 3em auto;
}
.enterprise-content {
    text-align: left;
    line-height: 1.3em;
}

.enterprise-content h3 {
    display: inline-block;
}

.enterprise-content h3,
.enterprise-content p {
    padding: 1em;
}

.enterprise .enterprise-btn {
    margin: 2em 2em 0 0;
    padding: 0.6em 4em;
    background-color: #0061ff;
    color: white;
}

.contact {
    font-weight: bold;
}
/* End Enterprise */

/* Jumbo Main */

.container-jumbo-main {
    margin-left: 20.9em;
}

.container-jumbo-main .col-jmain-dx {
    margin-right: 20.9em;
}

.col-jmain-dx h3,
.col-jmain-dx p {
    margin-bottom: 1.8em;
    line-height: 1.5em;
}

.col-jmain-dx p {
    margin-bottom: 1.8em;
}

.find-partner-btn {
    text-decoration: none;
    border: 1px solid gray;
    padding: 0.5em 1em;
    color: gray;
}
/* End Jumbo Main */

/* Dropbox Business */
.container-dropbox-business {
    margin: 2em auto;
}

[class^="col-business"] {
    padding: 1em;
}

.col-business-mid {
    margin: 0 3.3em;
}
/* End Dropbox Business */

/* Dropbox Team Banner */
.team-dropbox-system {
    margin-left: 21.8em;
    margin-top: 7em;
}

.team-dropbox-system h2 {
    line-height: 1.4em;
}

.team-dropbox-system a {
    line-height: 4em;
}
/* End Dropbox Team Banner */

/* Design it */
.square {
    height: 10em;
}

.designit-banner-mid {
    height: 20em;
}

.square img {
    padding: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%)
}

#designit-logo {
    padding: 2em;
}

#designit-logo-border {
    border: 10px solid #d0e9cd;
}

.designit-banner-mid {
    padding: 2em;
}

.title-designit {
    line-height: 0.9em;
}

.title-designit h6::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: gray;
    margin: 2em 0;
    display: block;
}

.main-p-designit {
    margin: 3em auto;
}

.bg-img-square-designit {
    background-color: #a2d39b;
}

.bg-img-square-arizona {
    background-color: #61082b;
}

.bg-img-square-florida {
    background-color: #0093ce;
}

.bg-img-square-topps {
    background-color: #ff1c1c;
}

.bg-img-square-bycicle {
    background-color: #d5001f;
}

.bg-img-square-hearst {
    background-color: #b4d0e7;
}

.bg-img-square-planet {
    background-color: #0d2481;
}

.bg-img-square-channel {
    background-color: #ffd830;
}

.bg-color-banner-mid {
    background-color: #f5f5f5;
}

.designit-banner {
    background-color: #b4d0e7;
    height: 15em;
}

.dit-banner-title {
    margin-top: 3.9em;
    margin-left: 3.9em;
    color: #61082b;
}

.dit-banner-title {
    margin-top: 6em;
}

.dit-banner-title a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.4em 1em;
}
/* End Design it */