* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

/* Float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
/* End Float */

/* Width */
.width-10{
    width: 10%;
}

.width-25 {
    width: 25%;
}
.width-30 {
    width: 30%;
}

.width-60 {
    width: 60%;
}

.width-70{
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

.max-width {
    max-width: 100%;
}
/* End Width */

/* Header */
.menu-header {
    font-size: x-small;
    font-weight: bold;
    position: fixed;
    top: 0;
    background-color: white;
    height: 5em;
}

.nav-menu-header {
    list-style-type: none;
    line-height: 2em;
    margin-left: 2em;
}

.nav-menu-header li {
    display: inline-block;
    margin-right: 3em;
}

.nav-menu-header li a {
    text-decoration: none;
    color: black;
}

#btn {
    padding: 0.5em 1em;
    background-color: #0061ff;
    color: white;
}

.menu-header .menu-logo {
    line-height: 5.7em;
}

.nav-menu-header {
    line-height: 5em;
}
/* End Header */

/* Jumbo */
.container-jumbo {
    height: 28em;
    margin: 5em auto 0;
    background-color: #b4d0e7;
}

.jumbo {
    margin: 0 auto;
    height: 80vh;
}

.title {
    font-size: 1.5em;
    padding: 1em 0 0.5em;
}

.jumbo-paragraph {
    padding-bottom: 2em;
    font-size: 0.9em;
}

.jumbo-btn {
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
}

.cancel-jumbo,
.fa-arrow-down {
    padding-top: 2em;
}
/* End Jumbo */

/* Main header */
.main-header-section {
    margin: 0 auto;
}

.main-header-section .main-header{
    margin-top: 10em;
}

.subscription-title {
    margin-bottom: 3em;
}

.main-header span .checkbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 0.4em;
}

.main-header span .checkbox:hover {
    border: 3px solid;
    border-color: blue;
    cursor: pointer;
}
/* End Main header */

/* Subscription columns */
.container-sub {
    margin-top: 3em;
}

[class^="col-sub"] {
    height: 57em;
    border: 1px solid gray;
}

.col-sub-sx {
    margin-left: 6.6em;
}

.col-sub-mid {
    margin: 0 1.7em;
}

.col-sub-header,
.enterprise {
    text-align: center;
    line-height: 2em;
}

.col-sub-header h4,
.enterprise h4 {
    border-bottom: 1px solid gray;
    color: gray;
    font-weight: lighter;
}

.col-sub-header .col-prices {
    text-align: left;
    padding: 1em;
}

.subtitle-price {
    font-size: small;
    color: gray;
}

.col-price-pro .col-price-pro-ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: small;
}

.col-price-pro .col-price-pro-ul li,
.col-price-highlights-ul li,
.col-prices h3,
.col-prices p {
    padding-left: 0.5em;
}

.col-price-btn {
    margin-top: 3em;
    margin-left: 0.9em;
    padding: 0.5em 1.5em;
}

.buy-now {
    margin-left: 0.5em;
    margin-top: 3em;
}

.col-sub-header .buy-now::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: gray;
    margin: 2em 0;
    display: block;
}

.col-price-highlights-ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0.5em;
    font-size: small;
}

.col-price-highlights-ul li::before {
    content: "✔";
    color: blue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    padding-top: 1em;
}


/* End Subscription Columns */

/* Enterprise */
/* ATTENTION: for the h4 inside the div.enterprise, I used the same rule as .col-sub-header h4 and .col-sub-header */
.enterprise{
    border: 1px solid gray;
    width: 80%;
    margin: 3em auto;
}
.enterprise-content {
    text-align: left;
}

.enterprise-content h3 {
    display: inline-block;
}

.enterprise-content h3,
.enterprise-content p {
    padding: 1em;
}

.enterprise .enterprise-btn {
    margin: 2em 2em 0 0;
    padding: 0.5em 1.5em;
    padding: 0.3em 4em;
    background-color: #0061ff;
    color: white;
}

/* End Enterprise */